* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 20%;
  margin-left: 38%;
  margin-top: 10%;
}
h2 {
  margin: 1rem 0;
}

#SingUperror {
  color: red;
  display: block;
  text-align: center;
  visibility: hidden;
}
input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 1rem;
  height: 2rem;
  outline: none;
}
#login {
  width: 140px;
  background: #ddd;
  background-color: black;
  color: #fff;
  margin-top: 2rem;
}
